head {
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(236, 238, 241);
}

.intuit {
    display: inline-block;
}

.buttons {
    display: inline-block;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox {
    text-align: center;
    display: block;
    width: 380px;
    height: 688px;
    border: 1px solid rgb(199, 199, 199);
    padding: 30px;
    margin-top: .5em;
    margin-bottom: 2em;
    background-color: #FFF;
    box-sizing: border-box;
}

.user {
    width: 95%;
    height: 2.5em;
    border-color: solid rgb(199, 199, 199);
    border-radius: .5ch;
    box-flex: center;
}
.signin {
    display: block;
    width: initial;
    flex-direction: row;
    align-items: center;
    height: 1.5em;
    width: 5em;

}

.btn {
    height: 3em;
    width: 3em;
    border-style: solid;
    border: slategray
    
}
.boxfoot {
    display: block; 
    width: 380px;
    background-color: rgb(236, 238, 241);
    flex-direction: row;
    box-align: baseline;
}

footer {
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    width: 80%;
    color: darkslategrey;
    text-decoration: none;
    
}
