head {
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(236, 238, 241);
}

.intuit {
    display: inline-block;
}

.buttons {
    display: inline-block;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox{
    height:688px;
    text-align: center;
    display:block;
    width: 350px;
    border: 2px solid #E3E3E3;
    padding: 5px;
    margin: 5px;
    background-color: #FFF;
}

.textbox{
    height:30px; 
    width:320px;
}

footer {
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    text-align: Center;
    padding: 0;
    width: 80%;
    color: slategrey;
    text-decoration: none;
}